#unity-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #001f3f;
    color: #fff;
    font-family: sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#unity-canvas {
    image-rendering: optimizeSpeed;
    -webkit-interpolation-mode: nearest-neighbor;
    -ms-touch-action: none;
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 2);
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.fullscreen-button {
    position: fixed; /* Change to fixed */
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 9999;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%; /* Make the button rounded */
}

body {
    font-size: 0; /* Hide all text */
}

p, span, div, h1, h2, h3, h4, h5, h6 {
    font-size: 0; /* Hide text within common elements */
}

/* If the "Fruit Ninja" text is within a specific class */
.fruit-ninja-text {
    display: none;
}

body { padding: 0; margin: 0 }


#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }

#credits {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px;
    border-radius: 10px;
}

#credits p {
    margin: 0;
    font-size: 16px;
    color: #888; /* Gray color for the thanking text */
}

#credits a {
    color: pink; /* Red color for the link */
    text-decoration: none; /* Remove underline */
}




